{"openapi":"3.0.3","info":{"title":"MetaLend Rebalancing API","version":"0.1.0","description":"API for managing cross-protocol cross-chain DeFi rebalancing operations exposing: <ul>\n  <li><b>Auth</b> – challenge/verify flow for JWT issuance.</li>\n  <li><b>Project settings</b> – fetch current project settings.</li>\n  <li><b>User configuration</b> – register or update token-level user-rebalancer settings and fetch current wallet configs.</li>\n  <li><b>Deposits</b> – create deposit intents, receive tracking IDs, and poll status through PROCESSING -> BRIDGING (cross-chain only) -> SUCCESS/FAILED/EMERGENCY_WITHDRAW. New deposits may return <b>503</b> with <b>DEPOSITS_PAUSED</b> during maintenance.</li>\n  <li><b>Withdrawals</b> – submit signed withdrawal requests, receive tracking IDs, and monitor status PROCESSING -> SUCCESS/FAILED.</li>\n  <li><b>Balances</b> – query wallet-level balances and withdraw details, as well as balances in bridge progress.</li>\n  <li><b>Rewards</b> – aggregated rewards and claim details per wallet.</li>\n  <li><b>Pools</b> – list supported protocols (Aave, Morpho, Euler, etc.), their pools, APY breakdowns, and TVL snapshots.</li>\n  <li><b>Transaction Costs</b> – current deposit/withdraw on-behalf transaction fees and minimum amounts by chain.</li>\n  <li><b>AI Agent Guide</b> – Markdown flow guide at <code>/SKILL.md</code> with signing formats, wizard requirements, and known integration gotchas.</li>\n</ul> All endpoints require an <b>X-API-Key</b>. <b>JWT authentication</b> is required on <b>deposit, withdrawal, and config update</b> operations.\n<b>Obtain API key by <a href=\"https://developer.metalend.tech/\" target=\"_blank\" rel=\"noopener noreferrer\">creating a new project</a>.</b>\nAll requests must include the Origin header. Use Origin: https://app.metalend.tech unless you have been assigned a different allowed origin.","contact":{"name":"MetaLend API Support","email":"support@metalend.tech"},"termsOfService":"https://metalend-inc.gitbook.io/litepaper/terms-of-service","x-guidance":"AI agents MUST read https://api.metalend.tech/SKILL.md before implementing any MetaLend operation. It contains critical signing formats, required headers, wizard flows for config setup, and known failure modes.","x-default-api-key":"a7f2b8c4d9e1f3a6b5c8d2e7f1a4b9c3d6e8f2a5b7c1d4e9f3a6b8c2d5e7f1a4","x-api-key-guidance":"Use x-default-api-key as X-API-Key for agent testing/integration. If you are the project owner, create or use your own project API key from https://developer.metalend.tech instead."},"externalDocs":{"description":"Litepaper","url":"https://metalend-inc.gitbook.io/litepaper"},"servers":[{"url":"https://api.metalend.tech","description":"Production server"}],"security":[{"ApiKeyAuth":[],"OriginHeader":[]}],"paths":{"/SKILL.md":{"get":{"summary":"Get the AI agent flow guide","operationId":"getSkillMd","description":"Returns the MetaLend AI Agent Flow Guide — a comprehensive reference for AI agents covering authentication flows, signing formats, config wizard, deposit/withdrawal patterns, and known failure modes. **AI agents must fetch this document before implementing any MetaLend operation.\n\nThe guide is returned as `text/markdown` and is rate limited to 20 requests per 60 seconds per IP.\n","tags":["AI Agent Guide"],"security":[],"responses":{"200":{"description":"Markdown guide for AI agents integrating with the MetaLend Rebalancing API.","content":{"text/markdown":{"schema":{"type":"string","description":"Markdown contents of the MetaLend AI Agent Flow Guide."},"examples":{"guide":{"summary":"MetaLend AI Agent Flow Guide","value":"# MetaLend API — AI Agent Flow Guide\n\n> **Config Wizard Notice:** When a user wants to configure their rebalancer (set pools/tokens), you MUST run an interactive wizard before signing.\n\nThis document captures the exact flows, signing formats, and gotchas for an AI agent operating the MetaLend Rebalancing API (`http://api.metalend.tech`).\n"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/deposits":{"post":{"summary":"Create a deposit","description":"Initiates a deposit transaction to move funds into an optimal DeFi protocol.<br><br>\nUser owned **rebalancer contract** must be pre-approved to spend tokens. The address of this contract is returned by the `GET /v1/config/{walletAddress}` endpoint. This contract gets deployed during first deposit and its address is pre-computed using CREATE2.<br><br>\nBoth **signature-based (gasless)** and **approval-based** approvals are supported.<br><br>\nActual deposit transaction is executed by an operator on behalf of the user after validating the request and JWT token.\n\n## Required Fields (All Deposits)\n\nThese fields are **always required** regardless of deposit method:\n- `token`: The symbol of the deposit token (e.g., \"USDC\", \"USDT\", \"MUSD\")\n- `walletAddress`: The user address making the deposit (must match JWT token). Currently only EOAs are supported (no smart contract wallets).\n- `amount`: The amount to deposit in token's raw unit (e.g., for USDC with 6 decimals, \"1000000\" = 1 USDC). Token details can be found in the `GET /v1/pools` endpoint. Minimum deposit amount is 0.1 of the token to cover gas fees for on behalf transaction.\n\n## Deposit Methods\n\n### Signature-Based Deposits (EIP-3009)\nSupported for **USDC** and **MUSD** tokens. This method enables gasless approval where \nthe user signs an authorization permit off-chain, and MetaLend executes the transfer on-chain.\n\n**Additional required fields:**\n- `signature`: The user's signature authorizing the transfer\n- `validAfter`: Unix timestamp indicating when the signature becomes valid\n- `validBefore`: Unix timestamp indicating when the signature expires. This must be greater than `validAfter` and within a short time window (max 1 minute in future).\n- `nonce`: A unique 32-byte hex string to prevent replay attacks\n- `tokenName`: The official name of the token (e.g., \"USD Coin\"), can be read on token contract (ERC20 standard).\n- `tokenVersion`: The token contract version, can be read on token contract (ERC20 standard).\n\nSign `ReceiveWithAuthorization` EIP-712 typed data structure as defined by the token contract.\n\n### Approval-Based Deposits\nSupported for **USDT, USDC, MUSD**. This method requires the user \nto approve the rebalancer contract before initiating the deposit by sending a transaction.\n\n**Additional requirements:**\n- Standard ERC-20 approval via the token contract before calling this endpoint\n- Only the base required fields (chain, token, walletAddress, amount) are allowed in the request\n- Do NOT include signature, timestamp, or nonce fields for approval-based deposits\n\n## Authentication & Security\n\n- Requires JWT authentication via JWT token in the Authorization header\n- The JWT must contain the same wallet address as specified in the request body\n\n## Maintenance — deposits paused\n\nMetaLend can temporarily pause **new** deposit creation while other API features (withdrawals, balances, config, pools, etc.) stay available.\n\nWhen paused, this endpoint returns **`503 Service Unavailable`** with `internalCode` **`DEPOSITS_PAUSED`** and does not create a deposit or return a tracking ID.\n\n## Processing Flow\n\n1. Check whether deposits are paused\n2. JWT verification to ensure the caller owns the specified wallet\n3. Request validation (chain, token, amount, address, signature/approval requirements)\n4. Deposit request is queued for processing with a unique tracking ID\n5. Returns immediately tracking ID\n6. Use `GET /v1/deposits/{trackingId}` to monitor the deposit progress\n\n## Response\n\nReturns a **tracking ID** that can be used to poll the deposit status. The tracking ID is:\n- A randomly generated UUID\n\nThe tracking ID can be used with the status endpoint \nto check if the deposit was successful, failed, is still processing or is bridging.\n\n## Source of Funds — User's Own Wallet ERC20 Balance\n\nDeposits move tokens **from the user's own wallet** (their personal ERC20 balance \non-chain) into a DeFi protocol via the MetaLend rebalancer contract.\n\n**The `chain` field must be the chain where the user currently holds the ERC20 token \nbalance in their wallet.** For example, if the user has USDC on Ethereum, \n`chain` must be `\"ETHEREUM\"`. If they have USDC on Base, `chain` must be `\"BASE\"`.\n\nBefore calling this endpoint:\n1. Check the user's ERC20 balance: `token.balanceOf(userWalletAddress)` on the \n  target chain — this is what they are depositing from.\n2. For **approval-based** deposits: call `token.approve(rebalancerAddress, amount)` \n  on the same chain before calling this endpoint.\n3. For **signature-based** deposits (USDC/MUSD only): sign the `ReceiveWithAuthorization` \n  permit off-chain — no on-chain approval transaction needed.\n\nThe rebalancer contract address to approve is returned by \n`GET /v1/config/{walletAddress}` in the `rebalancerAddress` field.\n\n## Notes\n- Smart contract wallets that do not comply with standard signature length are currently not supported\n- For signature-based deposits, ensure timestamps are within valid range\n\n**Rate limiting**: 1 request per 6 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"createDeposit","tags":["Deposits"],"security":[{"ApiKeyAuth":[],"JwtAuth":[],"OriginHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositRequest"},"examples":{"signatureBasedUsdcLinea":{"summary":"Signature-based deposit — USDC on Linea","value":{"chain":"LINEA","token":"USDC","walletAddress":"0x1234567890123456789012345678901234567890","amount":"1000000","validAfter":"1700000000","validBefore":"1700000100","nonce":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef","signature":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef01","tokenName":"USD Coin","tokenVersion":"2"}},"signatureBasedUsdcEth":{"summary":"Signature-based deposit — USDC on Ethereum","value":{"chain":"ETHEREUM","token":"USDC","walletAddress":"0x1234567890123456789012345678901234567890","amount":"5000000","validAfter":"1700000000","validBefore":"1700000100","nonce":"0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890","signature":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef01","tokenName":"USD Coin","tokenVersion":"2"}},"approvalBasedUsdtEthereum":{"summary":"Approval-based deposit — USDT on Ethereum","value":{"chain":"ETHEREUM","token":"USDT","walletAddress":"0x1234567890123456789012345678901234567890","amount":"1000000"}},"approvalBasedUsdcBase":{"summary":"Approval-based deposit — USDC on Base","value":{"chain":"BASE","token":"USDC","walletAddress":"0x1234567890123456789012345678901234567890","amount":"2000000"}},"approvalBasedUsdcArbitrum":{"summary":"Approval-based deposit — USDC on Arbitrum","value":{"chain":"ARBITRUM","token":"USDC","walletAddress":"0x1234567890123456789012345678901234567890","amount":"3000000"}}}}}},"responses":{"201":{"description":"Deposit initiated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"},"signatureNotAllowed":{"$ref":"#/components/examples/SignatureNotAllowed"},"invalidTokenNameOrVersion":{"$ref":"#/components/examples/InvalidTokenNameOrVersion"},"partialSignatureFields":{"$ref":"#/components/examples/PartialSignatureFields"},"tokenNotSupported":{"$ref":"#/components/examples/TokenNotSupported"},"chainBlank":{"$ref":"#/components/examples/ChainBlank"},"chainNotSupported":{"$ref":"#/components/examples/ChainNotSupported"},"amountTooLow":{"$ref":"#/components/examples/AmountTooLow"},"invalidTimestampBeforeGreaterThanAfter":{"$ref":"#/components/examples/InvalidTimestampBeforeGreaterThanAfter"},"invalidTimestampAfterMustBeInPastOrNow":{"$ref":"#/components/examples/InvalidTimestampAfterMustBeInPastOrNow"},"invalidTimestampBeforeMustBeInFuture":{"$ref":"#/components/examples/InvalidTimestampBeforeMustBeInFuture"},"invalidTimestampBeforeMustBeAtMostOneMinuteInFuture":{"$ref":"#/components/examples/InvalidTimestampBeforeMustBeAtMostOneMinuteInFuture"},"insufficientApproval":{"$ref":"#/components/examples/InsufficientApproval"},"tokenNotSupportedOnChain":{"$ref":"#/components/examples/TokenNotSupportedOnChain"},"insufficientBalance":{"$ref":"#/components/examples/InsufficientBalance"},"depositInvalidSignature":{"$ref":"#/components/examples/DepositInvalidSignature"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"description":"Service unavailable — deposits paused (maintenance)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"depositsPaused":{"$ref":"#/components/examples/DepositsPaused"}}}}}},"x-agentcash-auth":{"mode":"free"}}},"/v1/deposits/{trackingId}":{"get":{"summary":"Get deposit status","description":"Retrieves the current status and details of a deposit transaction using its unique tracking ID.\n\nThis endpoint allows you to monitor the progress of a deposit from initiation to completion. \nThe tracking ID is returned when you create a deposit in UUID format.\n\nPlease be aware that if you see failed state, it can be also due to high gas fees, max allowed is 1 USD in gas fees, otherwise it will fail.\n\n**Status Values** (returned in `status`):\n- `PROCESSING`: Deposit is queued or being handled on the source chain.\n- `BRIDGING` (cross-chain only): Source-side funds movement succeeded and is bridging to the destination chain. Same-chain deposits go straight to final `SUCCESS` or `FAILED` status.\n- `SUCCESS`: Deposit has been successfully completed and funds are in the protocol.\n- `FAILED`: Deposit transaction has failed (e.g., insufficient gas, transaction reverted).\n- `EMERGENCY_WITHDRAW`: Destination-side deposit could not complete; funds were recovered via emergency withdrawal.\n\nThe API only exposes the five values above. Any other internal persistence state is mapped to `PROCESSING` for this response until the flow resolves.\n\n**Response Details:**\nWhen successful, the response includes:\n- Current deposit status (\"SUCCESS\")\n- Target protocol name (e.g., \"Aave\", \"Morpho\", \"Euler\") where funds were deposited\n- Pool/vault contract address receiving the funds\n- Blockchain network where the deposit occurred\n\n**Use Cases:**\n- Poll this endpoint to track deposit progress after creation\n- Verify successful completion before proceeding with other operations\n- Display real-time status updates to users in your application\n\n**Note:** If you receive a error code, the tracking ID is probably invalid or no deposit exists for that ID.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getDepositStatus","tags":["Deposits"],"security":[{"ApiKeyAuth":[],"OriginHeader":[]}],"parameters":[{"name":"trackingId","in":"path","required":true,"description":"Tracking ID (UUID) returned from deposit creation","schema":{"type":"string"},"example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"Deposit status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositStatusResponse"},"examples":{"processing":{"summary":"Deposit picked up, waiting for on-chain execution","value":{"status":"PROCESSING","protocol":null,"pool":null,"chain":"base"}},"bridging":{"summary":"Cross-chain deposit — source tx done, bridge in progress","description":"Details of the target pool, protocol and chain.","value":{"status":"BRIDGING","protocol":"Aave","pool":"0xc47b8C00b0f69a36fa203Ffeac0334874574a8Ac","chain":"base"}},"success":{"summary":"Deposit completed successfully","value":{"status":"SUCCESS","protocol":"Aave","pool":"0xc47b8C00b0f69a36fa203Ffeac0334874574a8Ac","chain":"base"}},"failed":{"summary":"Deposit failed","value":{"status":"FAILED","protocol":null,"pool":null,"chain":"base"}},"emergencyWithdraw":{"summary":"Destination deposit failed — funds emergency-withdrawn","value":{"status":"EMERGENCY_WITHDRAW","protocol":"Aave","pool":"0xc47b8C00b0f69a36fa203Ffeac0334874574a8Ac","chain":"base"}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"missingTrackingId":{"$ref":"#/components/examples/MissingTrackingId"},"invalidTrackingId":{"$ref":"#/components/examples/InvalidTrackingId"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"404":{"description":"Tracking ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"trackingIdNotFound":{"$ref":"#/components/examples/TrackingIdNotFound"}}}}},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/withdrawals":{"post":{"summary":"Create a withdrawal","description":"\n## Source of Funds — Rebalancer Contract Pool Balance\n\nWithdrawals move tokens **from a pool held by the user's rebalancer contract**\nback to the user's wallet. The funds are NOT in the user's wallet — they are\nalready inside the DeFi protocol (Aave, Morpho, or Euler) deposited by the\nrebalancer.\n\n**The `chain`, `token`, `poolContract`, and available `amount` must all be\nderived from `GET /v1/balances/{walletAddress}`** — do not guess or hardcode\nthese values.\n\n## How to build a withdrawal request from the balances response\n\n1. Call `GET /v1/balances/{walletAddress}` to get the rebalancer's holdings.\n2. Navigate to: `perToken[n].perChain[m].perProtocol[p].perPool[q]`\n3. From the pool object:\n   - `chain` field → use as `chain` in the withdrawal request\n   - `poolAddress` field → use as `poolContract` in the withdrawal request\n   - `balanceRaw` field → maximum withdrawable amount (raw units)\n   - `withdrawRequest` field → pre-filled EIP-712 domain, types, and value for signing\n4. The `withdrawRequest.value` contains `token` (token contract address) and\n   `poolContract` (pool address) — use these as the signing value.\n5. Supply `amount` (≤ `balanceRaw`, ≥ minimum) and `deadline` (unix timestamp,\n   max 1 minute in future).\n6. Sign the EIP-712 typed data using the domain/types/value from `withdrawRequest`.\n7. Submit this endpoint with all fields.\n\n## Field-by-field mapping from balances response to WithdrawalRequest\n\n| WithdrawalRequest field | Source                                                                 |\n|-------------------------|------------------------------------------------------------------------|\n| `chain`                 | `PoolBalance.chain` (string, e.g. \"BASE\")                            |\n| `token`                 | Parent token key/symbol (e.g. \"USDC\") — NOT `withdrawRequest.value.token` which is a contract address |\n| `walletAddress`         | The user's wallet address (same as used in JWT)                        |\n| `poolContract`          | `PoolBalance.poolAddress`                                              |\n| `amount`                | User-chosen raw amount, ≤ `PoolBalance.balanceRaw`, ≥ 100000 for USDC |\n| `deadline`              | User-chosen unix timestamp, max 60 seconds from now                    |\n| `signature`             | EIP-712 sign of `withdrawRequest.domain` + `withdrawRequest.types` + `{token: withdrawRequest.value.token, poolContract: withdrawRequest.value.poolContract, amount: <your_amount>, deadline: <your_deadline>}` |\n\nInitiates a withdrawal transaction from DeFi protocols.\n\nInitiates a withdrawal transaction from DeFi protocols.\n\nWithdrawal must be signed as per **EIP-712 Typed structured data hashing and signing**. The signature must be created by wallet.\n\nSignature relevant information is retrieved by `/v1/balances/{walletAddress}` endpoint in the `withdrawRequest` field. EIP 712 domain parameters and types are provided for convenience. The `value` field contains the `token` (address) and `poolContract` (address) that must match the withdrawal request, while `amount` and `deadline` must be supplied by the user.\n\n`Deadline` must be a unix timestamp no more than 1 minute in the future which is the maximum amount of time the server waits for transaction confirmation.\n\n`Amount` must be at least 0.1 (stablecoin) of the token to cover on-behalf transaction gas fees and no more than the available balance in the specified pool. This value is specified in raw units (e.g., 6 decimals for USDC). Token decimals are included in the `token` object of `/v1/balances/{walletAddress}` endpoint for reference.\n\n`Signature` must be of length 132 (0x + 130 characters) and signed by the wallet address associated with the **JWT token**.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"createWithdrawal","tags":["Withdrawals"],"security":[{"ApiKeyAuth":[],"JwtAuth":[],"OriginHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalRequest"},"examples":{"withdrawUsdcLinea":{"summary":"Withdraw USDC from Aave on Linea","value":{"chain":"LINEA","token":"USDC","walletAddress":"0x1234567890123456789012345678901234567890","amount":"500000","deadline":"1700000060","signature":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef01","poolContract":"0xc47b8C00b0f69a36fa203Ffeac0334874574a8Ac"}},"withdrawUsdcEthereum":{"summary":"Withdraw USDC from Morpho on Ethereum","value":{"chain":"ETHEREUM","token":"USDC","walletAddress":"0x1234567890123456789012345678901234567890","amount":"10000000","deadline":"1700000060","signature":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef01","poolContract":"0xdd0f28e19c1780eb6396170735d45153d261490d"}},"withdrawUsdcBase":{"summary":"Withdraw USDC from Morpho on Base","value":{"chain":"BASE","token":"USDC","walletAddress":"0x1234567890123456789012345678901234567890","amount":"5000000","deadline":"1700000060","signature":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef01","poolContract":"0xc1256ae5ff1cf2719d4937adb3bbccab2e00a2ca"}},"withdrawUsdtEthereum":{"summary":"Withdraw USDT from Morpho on Ethereum","value":{"chain":"ETHEREUM","token":"USDT","walletAddress":"0x1234567890123456789012345678901234567890","amount":"8000000","deadline":"1700000060","signature":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef01","poolContract":"0xbEef047a543E45807105E51A8BBEFCc5950fcfBa"}}}}}},"responses":{"201":{"description":"Withdrawal initiated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"},"tokenNotSupported":{"$ref":"#/components/examples/TokenNotSupported"},"chainBlank":{"$ref":"#/components/examples/ChainBlank"},"chainNotSupported":{"$ref":"#/components/examples/ChainNotSupported"},"amountTooLow":{"$ref":"#/components/examples/AmountTooLow"},"deadlineMustBeInFuture":{"$ref":"#/components/examples/DeadlineMustBeInFuture"},"deadlineTooFarInFuture":{"$ref":"#/components/examples/DeadlineMaxOneMinuteInFuture"},"missingSignature":{"$ref":"#/components/examples/SignatureRequired"},"protocolNotFound":{"$ref":"#/components/examples/ProtocolNotFound"},"failedWithdrawSignatureValidation":{"$ref":"#/components/examples/FailedWithdrawSignatureValidation"},"insufficientBalance":{"$ref":"#/components/examples/InsufficientBalance"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"403":{"$ref":"#/components/responses/Forbidden"},"409":{"description":"Withdrawal not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"withdrawalNotAllowed":{"$ref":"#/components/examples/WithdrawalNotAllowed"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/withdrawals/{trackingId}":{"get":{"summary":"Get withdrawal status","description":"Retrieves the current status of a withdrawal transaction using its unique tracking ID.\n\n**Status Values:**\n- `PROCESSING`\n- `SUCCESS`\n- `FAILED`.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","tags":["Withdrawals"],"security":[{"ApiKeyAuth":[],"OriginHeader":[]}],"parameters":[{"name":"trackingId","in":"path","required":true,"description":"Tracking ID (UUID) returned from withdrawal creation","schema":{"type":"string","format":"uuid"},"example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"Withdrawal status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalStatusResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"missingWithdrawalTrackingId":{"$ref":"#/components/examples/MissingWithdrawalTrackingId"},"invalidWithdrawalTrackingId":{"$ref":"#/components/examples/InvalidWithdrawalTrackingId"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"404":{"description":"Tracking ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"withdrawalTrackingIdNotFound":{"$ref":"#/components/examples/WithdrawalTrackingIdNotFound"}}}}},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/withdrawals/version":{"get":{"summary":"Get withdrawal contract version","description":"Returns the current version of the rebalancer contracts used for withdrawal signing.\nThis value should be used as the `version` field in the EIP-712 domain when constructing withdrawal signatures.\n\n**Rate limiting**: 1 request per 6 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getWithdrawalVersion","tags":["Withdrawals"],"security":[{"ApiKeyAuth":[],"OriginHeader":[]}],"responses":{"200":{"description":"Withdrawal contract version retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetWithdrawalVersionResponse"},"example":{"version":"1"}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/config":{"put":{"summary":"Update rebalancer configuration","description":"Creates or updates the rebalancing configuration for a specific wallet address and token. This endpoint allows users to set custom protocols and pools for automated rebalancing of their funds.\n\n**Authentication**: Requires a valid JWT token. The wallet address in the JWT must match the `walletAddress` field in the request body.\n\n**Configuration per Token**: Each request configures one specific token (USDC, MUSD, or USDT, RLUSD). To configure multiple tokens, make separate PUT requests for each token. After successfully setting a configuration for a token, the `hasSignedConfig` flag for that token will become `true` when retrieved via GET `/v1/config/{walletAddress}`.\n\n**Configuration Structure**: The configuration specifies arrays of domain IDs, protocol IDs, and pool contract addresses. All three arrays must have the same length, with each index representing one pool configuration:\n- `domainIds[0]`, `protocolIds[0]`, `poolAddresses[0]` = first pool\n- `domainIds[1]`, `protocolIds[1]`, `poolAddresses[1]` = second pool\n- And so on...\n\n**Domain IDs**: \n- `11` = LINEA\n- `6` = BASE\n- `7` = POLYGON\n- `3` = ARBITRUM\n- `1` = AVALANCHE\n- `2` = OPTIMISM\n- `0` = ETHEREUM\n\n**Protocol IDs**: Maps to supported protocols:\n- `0` = Aave\n- `1` = Morpho\n- `2` = Euler\n\n**Collateral Exposure**: Collateral exposure symbols for the pools in the configuration, must be taken from the pool catalog from GET /v1/pools, unique and not empty. If you want to disable the filter, pass null.\nexample: [\"WETH\", \"cbBTC\", \"wstETH\"]\n\nTvl and liquidity multiplier are optional and can be used to filter the pools in the configuration.\nExample:\n- requiredTvl: 5000000\n- requiredLiquidityMultiplier: 10\nThis will filter the pools in the configuration to only include pools that have a TVL of at least $5M and a liquidity multiplier of at least 10.\nExample:\n- requiredTvl: 0\n- requiredLiquidityMultiplier: 0\nThis will disable the filter and include all pools in the configuration.\nDuring deposits, pools that do not comply with filters (exposure, liquidity, tvl) are ignored. Active balances are also monitored periodically and if a pool with a deposit no longer complies with the filters, rebalance immediately happens outside to first available pool with highest APY %\n\n**Pool Contracts**: Each pool contract address must be a valid checksummed Ethereum address (EIP-55) corresponding to a pool on the specified protocol. Pool addresses can be obtained from the `/v1/pools` endpoint.\n\n**Signature Requirement**: The `signature` field must be created using the following steps:\n\n1. ABI-encode the following parameters in order:\n  - `address` — `rebalancingManagerAddress` (from `GET /v1/config/{walletAddress}`)\n  - `uint8[]` — `protocolIds` array\n  - `address[]` — `poolAddresses` array\n  - `uint32[]` — `domainIds` array\n  - `uint256` — `spendingCapRaw` (use `\"0\"` if not set, can be set only for USDC, when setting this value, AAVE protocol on LINEA must be included in the configuration with a non-zero spending cap, otherwise the request will be rejected)\n\n2. Compute `keccak256` of the ABI-encoded bytes.\n\n3. Sign the resulting hash using `personal_sign` (i.e. `eth_sign` with the standard Ethereum prefix `\\x19Ethereum Signed Message:\\n32`). In viem this is `walletClient.signMessage({ account, message: { raw: hash } })`.\n\nThe signature must be 132 characters long (0x + 130 hex characters) and must be signed by the wallet address in the `walletAddress` field.\n\n**Smart Contract Wallets / ERC-6492**: For contract wallet signatures, the backend validates the configuration signature on every chain contained within the `domainIds`. If the signature is rejected on any of those chains, the entire configuration is rejected. The error response will indicate which domain IDs were rejected: `\"Contract wallets configs can only contain chains verified by supported signature. Found rejected domain IDs: <rejectedIds>\"`.\n\n**Include Rewards APY**: The optional `includeRewardsApy` boolean flag (default: `true`) determines whether reward APYs should be included in APY calculations during rebalancing decisions.\n\n**Response**: Returns `201 Created` if this is the first configuration for the wallet, or `200 OK` if updating an existing configuration. The response includes the deployed rebalancer contract address and the list of configured tokens.\n\n**Rate limiting**: 1 request per 6 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"updateConfig","tags":["User Configuration"],"security":[{"ApiKeyAuth":[],"JwtAuth":[],"OriginHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateConfigRequest"},"example":{"walletAddress":"0x1234567890123456789012345678901234567890","token":"USDC","domainIds":[11,11,11],"protocolIds":[0,1,2],"poolAddresses":["0xabcdefabcdefabcdefabcdefabcdefabcdefabcd","0x1111111111111111111111111111111111111111","0x2222222222222222222222222222222222222222"],"signature":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef01","includeRewardsApy":true,"requiredTvl":5000000,"requiredLiquidityMultiplier":10,"collateralExposure":["WETH","cbBTC","wstETH"],"spendingCapRaw":"0"}}}},"responses":{"200":{"description":"Configuration updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateConfigResponse"},"example":{"walletAddress":"0x1234567890123456789012345678901234567890","rebalancerAddress":"0x1234567890123456789012345678901234567890","configuredToken":"USDC","operation":"UPDATED"}}}},"201":{"description":"Configuration created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateConfigResponse"},"example":{"walletAddress":"0x1234567890123456789012345678901234567890","rebalancerAddress":"0x1234567890123456789012345678901234567890","configuredToken":"USDC","operation":"CREATED"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"},"tokenNotSupported":{"$ref":"#/components/examples/TokenNotSupported"},"configProtocolsPoolsAndDomains":{"$ref":"#/components/examples/ConfigProtocolsPoolsAndDomains"},"configValidationFailed":{"$ref":"#/components/examples/ConfigValidationFailed"},"configInvalidSignature":{"$ref":"#/components/examples/ConfigInvalidSignature"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"403":{"$ref":"#/components/responses/Forbidden"},"409":{"description":"Conflict - config update not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"updateConfigRejectedBridgeInProgress":{"$ref":"#/components/examples/UpdateConfigRejectedBridgeInProgress"},"updateConfigRejectedRefillInProgress":{"$ref":"#/components/examples/UpdateConfigRejectedRefillInProgress"},"updateConfigRejectedPoolWithBalance":{"$ref":"#/components/examples/UpdateConfigRejectedPoolWithBalance"},"invalidCollateralExposureUnknownSymbols":{"$ref":"#/components/examples/InvalidCollateralExposureUnknownSymbols"},"invalidCollateralExposureEmptyList":{"$ref":"#/components/examples/InvalidCollateralExposureEmptyList"},"invalidCollateralExposureMaxSize":{"$ref":"#/components/examples/InvalidCollateralExposureMaxSize"},"invalidCollateralExposureBlankEntry":{"$ref":"#/components/examples/InvalidCollateralExposureBlankEntry"},"invalidCollateralExposureDuplicates":{"$ref":"#/components/examples/InvalidCollateralExposureDuplicates"},"invalidCollateralExposureRequiresAave":{"$ref":"#/components/examples/InvalidCollateralExposureRequiresAave"},"invalidCollateralExposureRequiredTvlNotMet":{"$ref":"#/components/examples/InvalidCollateralExposureRequiredTvlNotMet"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/config/{walletAddress}":{"get":{"summary":"Get rebalancer configuration","description":"Retrieves the current rebalancing configuration state for a specific wallet address across all supported tokens.\n\nThis endpoint returns configurations for each supported token, including:\n- **Rebalancer Address**: The smart contract address of the user's rebalancer\n- **Rebalancing Manager Address**: The address of the rebalancing manager contract\n- **Configurations**: List of configuration items, one per supported token, each containing:\n  - Token information\n  - Domain IDs, Protocol IDs, and Pool contracts\n  - **hasSignedConfig**: Boolean flag indicating the configuration state for this specific token\n\n**Understanding hasSignedConfig (per token):**\n- `true`: The user has signed and set their own custom configuration for this token\n- `false`: The user has not signed any configuration for this token yet, and the returned values represent the default configuration\n\nWhen `hasSignedConfig` is false for a token, the configuration data shows what the default state allows, but it hasn't been actively set by the user for that token. This state must be signed by user to confirm the configuration. Each token can have a different `hasSignedConfig` status.\n\n**Note:** Requires a valid API key to query configurations.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getConfig","tags":["User Configuration"],"parameters":[{"name":"walletAddress","in":"path","required":true,"description":"Ethereum wallet address","schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"example":"0x1234567890123456789012345678901234567890"}],"responses":{"200":{"description":"Configuration retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConfigResponse"},"example":{"walletAddress":"0x1234567890123456789012345678901234567890","rebalancerAddress":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd","rebalancingManagerAddress":"0x971ad06e6fde83b0265bd3ced5f5eaf30e269962","rebalancerExists":true,"configurations":[{"token":"USDC","domainIds":[11],"protocolIds":[0],"poolAddresses":["0xc47b8c00b0f69a36fa203ffeac0334874574a8ac"],"includeRewardsApy":true,"lastRebalanceTimestamp":"2025-01-15T10:30:00Z","rebalanceFrequency":7,"totalGasFee":"0.00","totalDeposits":"0.00","totalWithdrawals":"0.00","requiredTvl":"0","requiredLiquidityMultiplier":"0","spendingCapRaw":null,"spendingCapFormatted":null,"hasSignedConfig":true},{"token":"MUSD","domainIds":[11],"protocolIds":[2],"poolAddresses":["0xa7ada0d422a8b5fa4a7947f2cb0ee2d32435647d"],"includeRewardsApy":true,"lastRebalanceTimestamp":null,"rebalanceFrequency":7,"totalGasFee":"0.00","totalDeposits":"0.00","totalWithdrawals":"0.00","requiredTvl":"0","requiredLiquidityMultiplier":"0","spendingCapRaw":null,"spendingCapFormatted":null,"hasSignedConfig":false},{"token":"USDT","domainIds":[11,11],"protocolIds":[0,2],"poolAddresses":["0xc47b8c00b0f69a36fa203ffeac0334874574a8ac","0xcbef9be95738290188b25ca9a6dd2bec417a578c"],"includeRewardsApy":true,"lastRebalanceTimestamp":null,"rebalanceFrequency":7,"totalGasFee":"0.00","totalDeposits":"0.00","totalWithdrawals":"0.00","requiredTvl":"0","requiredLiquidityMultiplier":"0","collateralExposure":["cbBTC","WETH"],"spendingCapRaw":null,"spendingCapFormatted":null,"hasSignedConfig":false}]}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/config/default/{token}":{"get":{"summary":"Get default configuration for token","description":"Retrieves the default pool configuration state for a specific token including domain IDs, protocol IDs, and pool contract addresses.\n\nThis endpoint returns the initial default configuration that shows how the system is set up for the specified token. The configuration includes:\n- **Domain IDs**: Cross-chain domain identifiers for the token\n- **Protocol IDs**: Identifiers of the supported DeFi protocols (e.g., Aave, Morpho, Euler)\n- **Pool Contracts**: Smart contract addresses for the respective pools\n- **Rebalancing Manager Address**: The address of the rebalancing manager contract\n\nThis represents the default state of the configuration, which can be used as a reference or starting point for rebalancing operations. Use this to compare against user's existing configuration.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getDefaultConfig","tags":["User Configuration"],"parameters":[{"name":"token","in":"path","required":true,"description":"Token symbol (uppercase)","schema":{"type":"string","enum":["USDC","MUSD","USDT","RLUSD"]},"example":"USDC"}],"responses":{"200":{"description":"Default configuration retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDefaultConfigResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"tokenNotSupported":{"$ref":"#/components/examples/TokenNotSupported"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/pools":{"get":{"summary":"Get pools information","description":"Retrieves comprehensive information about supported DeFi protocols, pools, Total Value Locked (TVL), and Annual Percentage Yield (APY) data on supported networks.<br><br>\n\nThe response is a flat list of pools across supported protocols (Aave, Morpho, Euler) and tokens (USDC, MUSD, USDT, RLUSD). Each pool includes protocol metadata, pool address/name, underlying token details, TVL, liquidity, collateral exposure, APY breakdowns, signing metadata, and blacklist status.<br><br>\n\n**APY Information**: The APY data includes native lending rates, reward provider APYs (e.g., MERKLE, BREVIS), and total combined APY. All APY values are formatted to 2 decimal places and represent 7-day average market rates adjusted by fees.<br><br>\n\n**Aave pool address collision example**: On Ethereum, the following pools \nall share `poolAddress: \"0x87870Bca3F3fD6335C3F4ce8392D69350B4fA4E2\"`:\n- Aave V3 USDC (underlyingToken.symbol: \"USDC\")\n- Aave V3 USDT (underlyingToken.symbol: \"USDT\")  \n- Aave V3 RLUSD (underlyingToken.symbol: \"RLUSD\")\n- Aave V3 MUSD (underlyingToken.symbol: \"MUSD\")\n\nWhen rendering a token-specific pool list, filter by `underlyingToken.symbol`, \nnot by `poolAddress`.\n\nThis endpoint requires an API key and can be used to discover available investment opportunities before configuring a rebalancer or making deposits.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getPools","tags":["Pools"],"responses":{"200":{"description":"Pools information retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPoolsResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/balances/{walletAddress}":{"get":{"summary":"Get rebalancer balances","description":"Retrieves detailed balance information across all protocols and pools for a wallet address. This endpoint provides comprehensive financial data including token balances, net earnings, aggregate APY, and per-protocol/per-pool breakdowns.<br><br>\n\n**Authentication**: Requires a valid API key. The wallet address must be a valid checksummed EOA address.<br><br>\n\n**Token Filtering**: The optional `tokens` query parameter accepts a comma-separated list of token symbols (e.g., `USDC,MUSD,USDT`). If not provided, balances for all supported tokens are returned.<br><br>\n\n**Balance Details**: For each token, the response includes:\n- Total balance across all chains (raw units and human-readable format)\n- Net earnings in USD (calculated as current balance minus net deposits/withdrawals)\n- Aggregate APY (weighted average across all protocols)\n- Per-chain breakdown with per-protocol and per-pool details<br><br>\n\n**Spending / Card Balance (USDC only)**: For users with the MetaLend card \n  feature active in their configuration, the total rebalancer balance consists \n  of **two parts**:\n\n- **Regular rebalancing balance** — funds held across DeFi pools on all chains, \n  shown in `perToken[n].perChain[m].perProtocol[p].perPool[q]`.\n- **Card balance** — funds reserved on Linea for card spending, shown in \n  `perToken[n].spendingInfo`. This is USDC only and has two sub-components:\n  - Liquid USDC held in the rebalancer contract on Linea (`lineaUsdcBalance`)\n  - USDC deposited in Aave V3 on Linea, earning yield while available for \n    card spending (`lineaAaveUsdcBalance`)\n\n`spendingInfo` is `null` when the card feature is not active for the user. \n  When displaying total balance to the user, include both the pool balances \n  AND `spendingInfo` amounts — they are additive parts of the same rebalancer.\n\n**Withdraw Request**: Each pool balance includes optional `withdrawRequest` containing EIP-712 domain parameters, type definitions, and value structure for creating withdrawal signatures. The `value` field includes `token` and `poolContract` addresses, while `amount` and `deadline` must be supplied by the user when creating a withdrawal via `/v1/withdrawals` endpoint.<br><br>\n\n**Summary**: The response includes an aggregate summary with total balance across all queried tokens, total net earnings, queried tokens, and queried chains.<br><br>\n\n**Error Handling**: If blockchain queries fail or the wallet has no rebalancer configuration, appropriate error responses are returned. The endpoint uses an all-or-nothing approach - if any token query fails, the entire request fails with a 500 or 503 status code.\n\n**Rate limiting**: 1 request per 12 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getRebalancerBalances","tags":["Balances"],"parameters":[{"name":"walletAddress","in":"path","required":true,"description":"User's Ethereum wallet address","schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"example":"0x1234567890123456789012345678901234567890"},{"name":"tokens","in":"query","required":false,"description":"Comma-separated list of token symbols to query","schema":{"type":"string"},"example":"USDC,MUSD,USDT"}],"responses":{"200":{"description":"Rebalancer balances retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetBalancesResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"},"tokenNotSupported":{"$ref":"#/components/examples/TokenNotSupported"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal error or query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"failedBalances":{"$ref":"#/components/examples/FailedBalances"},"userDoesNotExist":{"$ref":"#/components/examples/UserDoesNotExist"},"rebalancerDoesNotExistForWallet":{"$ref":"#/components/examples/RebalancerDoesNotExistForWallet"}}}}},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/rewards/{walletAddress}":{"get":{"summary":"Get rewards","description":"Retrieves aggregated rewards data for the specified wallet address across \nsupported reward sources (currently Merkle-based rewards).\n\nAfter a successful claim on a specific chain, pass `reloadChain` with the human-readable chain name (e.g. `base`, `arbitrum`) to force a Merkl cache refresh for that chain.\n\n**How to claim rewards — the `claimTransaction` is pre-built, just send it.**\n\nEach `RewardItem` with claimable rewards includes a non-null `claimTransaction` \nfield. The backend has already constructed the full ABI-encoded calldata for the \n`claimRewards(address,address[],uint256[],bytes32[][])` function — including the \ndistributor address, token addresses, amounts, and merkle proofs.\n\nTo execute the claim, send a transaction from the user's wallet with exactly \nthese values:\n- `to`: `claimTransaction.to` — the rewards distributor contract address\n- `data`: `claimTransaction.calldata` — fully encoded, ready to submit as-is\n- `chainId`: `claimTransaction.chainId` — the chain to send it on\n\n**You do NOT need to encode anything yourself.** Do not use `params`, `abi`, or \n`method` to construct the calldata — those are informational only. Use `calldata` \ndirectly as the transaction `data` field.\n\nExample (viem):\nawait walletClient.sendTransaction({\n  to: claimTransaction.to,\n  data: claimTransaction.calldata,\n  chainId: claimTransaction.chainId,\n})\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getRewards","tags":["Rewards"],"parameters":[{"name":"walletAddress","in":"path","required":true,"description":"User's Ethereum wallet address","schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"example":"0x1234567890123456789012345678901234567890"},{"name":"reloadChain","in":"query","required":false,"description":"After claiming rewards on a specific chain, pass the chain name to force Merkl cache refresh for that chain. Omit for normal cached fetch.\n","schema":{"type":"string","enum":["ethereum","base","polygon","arbitrum","avalanche","optimism","linea"]},"example":"base"}],"responses":{"200":{"description":"Rewards retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRewardsResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"userDoesNotExist":{"$ref":"#/components/examples/UserDoesNotExist"},"rebalancerDoesNotExistForWallet":{"$ref":"#/components/examples/RebalancerDoesNotExistForWallet"}}}}}},"x-agentcash-auth":{"mode":"free"}}},"/v1/transaction-costs/{token}":{"get":{"summary":"Get transaction costs","description":"Retrieves gas fee estimates and minimum deposit/withdraw amounts per chain for the specified token.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getTransactionCosts","tags":["Transaction Costs"],"parameters":[{"name":"token","in":"path","required":true,"description":"Token symbol","schema":{"type":"string","enum":["USDC","MUSD","USDT","RLUSD"]},"example":"USDC"}],"responses":{"200":{"description":"Transaction costs retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionCostsResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"tokenNotSupported":{"$ref":"#/components/examples/TransactionCostTokenNotSupported"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/auth/challenge":{"post":{"summary":"Create wallet challenge","description":"Issues a challenge message that must be signed by the wallet owner.\n\n**Rate limiting**: 1 request per 6 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"createAuthChallenge","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetChallengeRequest"},"example":{"walletAddress":"0x14848abF0125De79e0A5F3caA7F4EA9664a988e8","siweDomain":"app.metalend.tech","siweUri":"https://app.metalend.tech","siweStatement":"Sign in with Ethereum to MetaLend","chain":"ETHEREUM"}}}},"responses":{"200":{"description":"Challenge issued successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetChallengeResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"},"invalidSiweDetails":{"$ref":"#/components/examples/InvalidSiweDetails"},"chainNotSupported":{"$ref":"#/components/examples/ChainNotSupported"},"chainBlank":{"$ref":"#/components/examples/ChainBlank"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/auth/verify":{"post":{"summary":"Verify wallet challenge","description":"Verifies the signed challenge and issues a JWT for authenticated requests.\n\n**Rate limiting**: 1 request per 12 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"verifyAuthChallenge","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyChallengeRequest"},"example":{"walletAddress":"0x14848abF0125De79e0A5F3caA7F4EA9664a988e8","signature":"0x9c1efc293e476948580195863a66203816a3d437a04a92df95c1be979010031c35dbd856110eb161aa59f72cbfe49ff3a64fda3bdb094c2c321edfb13c8215161b","chain":"ETHEREUM"}}}},"responses":{"200":{"description":"Challenge verified successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyChallengeResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"},"chainNotSupported":{"$ref":"#/components/examples/ChainNotSupported"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"noAuthHeader":{"$ref":"#/components/examples/UnauthorizedNoHeader"},"invalidSignature":{"$ref":"#/components/examples/UnauthorizedInvalidSignature"},"notAnEvmAddress":{"$ref":"#/components/examples/NotAnEvmAddress"},"authExpiredOrNotCreated":{"$ref":"#/components/examples/AuthExpiredOrNotCreated"},"chainBlank":{"$ref":"#/components/examples/ChainBlank"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"$ref":"#/components/responses/InternalError"}},"x-agentcash-auth":{"mode":"free"}}},"/v1/balances/bridge/{walletAddress}":{"get":{"summary":"Get bridge balances","description":"Retrieves bridge balances for the specified wallet address.\n\n**Rate limiting**: 1 request per 3 seconds per client IP. Excess requests receive HTTP `429` with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers (see `RateLimitExceeded` response).\n","operationId":"getBridgeBalances","tags":["Balances"],"parameters":[{"name":"walletAddress","in":"path","required":true,"description":"User's Ethereum wallet address","schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"example":"0x1234567890123456789012345678901234567890"}],"responses":{"200":{"description":"Bridge balances retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetBridgeBalancesResponse"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"walletAddressBlank":{"$ref":"#/components/examples/WalletAddressBlank"},"invalidAddressFormat":{"$ref":"#/components/examples/InvalidAddressFormat"},"invalidAddressCheckSum":{"$ref":"#/components/examples/InvalidAddressCheckSum"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedNoHeader"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"userDoesNotExist":{"$ref":"#/components/examples/UserDoesNotExist"},"rebalancerDoesNotExistForWallet":{"$ref":"#/components/examples/RebalancerDoesNotExistForWallet"}}}}}},"x-agentcash-auth":{"mode":"free"}}},"/v1/services":{"get":{"summary":"Services directory","description":"Returns MetaLend API services directory with docs links and endpoint summaries.","x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"},"scheme":"exact","network":"eip155:8453","amount":"1000","asset":"0x833589fcd6edb6e08f4c7c32d4f71b54bda02913","payTo":"0x7d6E22db7C2Ee44859061061f99E55257A5cEaC1","maxTimeoutSeconds":60,"extra":{"name":"USDC","version":"2"}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicesDirectoryResponse"}}}},"402":{"description":"Payment required - x402 protocol response with payment requirements","content":{"application/json":{"schema":{"type":"object","required":["x402Version","error","resource","accepts"],"properties":{"x402Version":{"type":"integer","example":2},"error":{"type":"string","example":"Payment required"},"resource":{"type":"object","required":["url","description","mimeType"],"properties":{"url":{"type":"string","format":"uri","example":"https://api.metalend.tech/v1/services"},"description":{"type":"string"},"mimeType":{"type":"string","example":"application/json"}}},"accepts":{"type":"array","items":{"type":"object","required":["scheme","network","amount","payTo","maxTimeoutSeconds","asset","extra"],"properties":{"scheme":{"type":"string","example":"exact"},"network":{"type":"string","example":"eip155:8453"},"amount":{"type":"string","example":"1000"},"payTo":{"type":"string","example":"0x7d6E22db7C2Ee44859061061f99E55257A5cEaC1"},"maxTimeoutSeconds":{"type":"integer","example":60},"asset":{"type":"string","example":"0x833589fcd6edb6e08f4c7c32d4f71b54bda02913"},"extra":{"type":"object","properties":{"name":{"type":"string","example":"USD Coin"},"version":{"type":"string","example":"2"}}}}}},"extensions":{"type":"object"}}}}}}}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"API key required for all endpoints."},"JwtAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"JWT issued by POST /v1/auth/verify. Pass as Authorization: Bearer <token>.\n\nx-agent-hint: agentcash and other agentic wallets strip the Authorization header for their own SIWX flow. Use X-MetaLend-JWT: Bearer <token> instead — the backend accepts both headers. Affected endpoints: POST /v1/deposits, POST /v1/withdrawals, PUT /v1/config.\n"},"OriginHeader":{"type":"apiKey","in":"header","name":"Origin","description":"Required for CORS requests from browsers. Must match the allowed origins configured for the API key. Example: Origin: https://app.metalend.tech. Localhost is always allowed but must be specified.\n"}},"schemas":{"GetChallengeRequest":{"type":"object","required":["walletAddress","siweDomain","siweUri","siweStatement"],"properties":{"walletAddress":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"User's Ethereum wallet address (must be checksummed per EIP-55)","example":"0x14848abF0125De79e0A5F3caA7F4EA9664a988e8"},"siweDomain":{"type":"string","description":"The domain requesting the SIWE signature (e.g. \"app.metalend.tech\")","example":"app.metalend.tech"},"siweUri":{"type":"string","description":"The URI for the SIWE message (e.g. \"https://app.metalend.tech\")","example":"https://app.metalend.tech"},"siweStatement":{"type":"string","description":"The human-readable statement shown to the user in the SIWE signing prompt","example":"Sign in with Ethereum to MetaLend"},"chain":{"type":"string","description":"The blockchain network. Defaults to \"ETHEREUM\" if omitted.","nullable":true,"default":"ETHEREUM","enum":["ETHEREUM","BASE","POLYGON","ARBITRUM","OPTIMISM","AVALANCHE","LINEA"],"example":"ETHEREUM"}}},"GetChallengeResponse":{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"Challenge message to sign using personal_sign method"}}},"VerifyChallengeRequest":{"type":"object","required":["walletAddress","signature"],"properties":{"walletAddress":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"User's Ethereum wallet address (must be checksummed per EIP-55)","example":"0x14848abF0125De79e0A5F3caA7F4EA9664a988e8"},"signature":{"type":"string","description":"Signed challenge message using personal_sign method","example":"0x9c1efc293e476948580195863a66203816a3d437a04a92df95c1be979010031c35dbd856110eb161aa59f72cbfe49ff3a64fda3bdb094c2c321edfb13c8215161b"},"chain":{"type":"string","enum":["ETHEREUM","BASE","POLYGON","ARBITRUM","OPTIMISM","AVALANCHE","LINEA"],"nullable":true,"default":"ETHEREUM","description":"The blockchain network for signature verification. Defaults to \"ETHEREUM\" if omitted. Required for Smart Contract Wallets to specify the chain on which verification is performed.","example":"ETHEREUM"}}},"VerifyChallengeResponse":{"type":"object","required":["jwt"],"properties":{"jwt":{"type":"string","description":"Issued JWT for authenticated requests"}}},"DepositRequest":{"type":"object","required":["chain","token","walletAddress","amount"],"properties":{"chain":{"type":"string","enum":["ETHEREUM","BASE","POLYGON","ARBITRUM","OPTIMISM","AVALANCHE","LINEA"],"description":"The blockchain network for this deposit. IMPORTANT: Do NOT derive this from wagmi's chain.name or chain.network — those use different naming conventions. Always use PoolBalance.chain from GET /v1/balances which is already in the correct API format. For chain switching before the on-chain approve() call, use PoolBalance.chainId (integer EVM chain ID) with switchChain({ chainId }).\nIf you must map from wagmi/viem chainId to this field, use: - chainId 1       → \"ETHEREUM\" - chainId 8453    → \"BASE\" - chainId 137     → \"POLYGON\" - chainId 42161   → \"ARBITRUM\" - chainId 10      → \"OPTIMISM\" - chainId 43114   → \"AVALANCHE\" - chainId 59144   → \"LINEA\"\n"},"token":{"type":"string","enum":["USDC","MUSD","USDT","RLUSD"],"description":"Token symbol to configure (must be uppercase)"},"walletAddress":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"User's Ethereum wallet address (must be checksummed per EIP-55)"},"amount":{"type":"string","description":"Amount in token's smallest unit (minimum 0.1 to cover gas fees)","example":"1000000"},"validAfter":{"type":"string","description":"Unix timestamp after which signature is valid (required for signature based approvals)","example":"1700000000"},"validBefore":{"type":"string","description":"Unix timestamp before which signature is valid (required for signature based approvals, max 1 min in future, > validAfter)","example":"1700000100"},"nonce":{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","description":"Unique nonce for signature (required for signature based approvals)"},"signature":{"type":"string","pattern":"^0x[a-fA-F0-9]{130}$","description":"EIP-712 signature for authorization (required for signature based approvals)"},"tokenName":{"type":"string","description":"Token name for EIP-712 domain (required for signature based approvals)","example":"USD Coin"},"tokenVersion":{"type":"string","description":"Token version for EIP-712 domain (required for signature based approvals)","example":"2"}}},"TransactionCostsResponse":{"type":"object","description":"Transaction costs keyed by chain name.","additionalProperties":{"$ref":"#/components/schemas/GetTransactionCostsResponse"}},"GetTransactionCostsResponse":{"type":"object","required":["depositCostRaw","depositCostFormatted","withdrawCostRaw","withdrawCostFormatted","minDepositAmountRaw","minDepositAmountFormatted","minWithdrawAmountRaw","minWithdrawAmountFormatted"],"properties":{"depositCostRaw":{"type":"string","description":"Deposit gas cost in raw units"},"depositCostFormatted":{"type":"string","description":"Deposit gas cost formatted"},"withdrawCostRaw":{"type":"string","description":"Withdrawal gas cost in raw units"},"withdrawCostFormatted":{"type":"string","description":"Withdrawal gas cost formatted"},"minDepositAmountRaw":{"type":"string","description":"Minimum deposit amount in raw units"},"minDepositAmountFormatted":{"type":"string","description":"Minimum deposit amount formatted"},"minWithdrawAmountRaw":{"type":"string","description":"Minimum withdraw amount in raw units"},"minWithdrawAmountFormatted":{"type":"string","description":"Minimum withdraw amount formatted"}}},"DepositResponse":{"type":"object","required":["trackingId"],"properties":{"trackingId":{"type":"string","description":"Unique identifier to track deposit status","example":"550e8400-e29b-41d4-a716-446655440000"}}},"DepositStatusResponse":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["PROCESSING","BRIDGING","SUCCESS","FAILED","EMERGENCY_WITHDRAW"],"description":"Current status of the deposit.\n- `PROCESSING`: Deposit is queued or being handled on the source chain.\n- `BRIDGING` (cross-chain only): Source-side funds movement succeeded and is bridging to the destination chain. Same-chain deposits go straight to final `SUCCESS` or `FAILED` status.\n- `SUCCESS`: Deposit has been successfully completed and funds are in the protocol.\n- `FAILED`: Deposit transaction has failed (e.g., insufficient gas, transaction reverted).\n- `EMERGENCY_WITHDRAW`: Destination-side deposit could not complete; funds were recovered via emergency withdrawal.\n"},"protocol":{"type":"string","nullable":true,"enum":["Aave","Morpho","Euler"],"description":"Target protocol once known; may be null while still in `PROCESSING`.","example":"Aave"},"pool":{"type":"string","nullable":true,"description":"Target pool address once known; may be null while still in `PROCESSING`.","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"},"chain":{"type":"string","nullable":true,"description":"Target chain once known; may be null while still in `PROCESSING`.","example":"linea"}}},"WithdrawalRequest":{"type":"object","required":["chain","token","walletAddress","amount","deadline","signature","poolContract"],"properties":{"chain":{"type":"string","enum":["ETHEREUM","BASE","POLYGON","ARBITRUM","OPTIMISM","AVALANCHE","LINEA"],"description":"The blockchain network where the user's funds are located. Must match the chain returned in GET /v1/balances/{walletAddress}. The chain where the rebalancer holds funds in the specified pool. Must match the `chain` field of the pool from  GET /v1/balances/{walletAddress} perToken.perChain.perProtocol.perPool. Do NOT use the user's wallet chain — this is the chain the rebalancer  deposited into, which may be different. This value must be taken directly from PoolBalance.chain — do NOT convert from wagmi chain names. Use withdrawRequest.domain.chainId (integer) to switch the wallet chain before signing.\n"},"token":{"type":"string","enum":["USDC","MUSD","USDT","RLUSD"],"description":"Token symbol (uppercase). Use the symbol (e.g. \"USDC\"), NOT the contract address. Do NOT use `withdrawRequest.value.token` here — that is the ERC-20 contract address used only for EIP-712 signing. This field must be the human-readable symbol from the parent token level of GET /v1/balances/{walletAddress}.\n"},"walletAddress":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"User's Ethereum wallet address (must be checksummed per EIP-55)"},"amount":{"type":"string","description":"Amount in token's smallest unit (minimum 0.1 to cover gas fees)","example":"500000"},"deadline":{"type":"string","description":"Unix timestamp deadline for withdrawal (max 1 minute in future)","example":"1700000100"},"signature":{"type":"string","pattern":"^0x[a-fA-F0-9]{130}$","description":"EIP-712 signature for withdrawal authorization"},"poolContract":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"Pool contract address to withdraw from (must be checksummed per EIP-55)"}}},"WithdrawalResponse":{"type":"object","required":["trackingId"],"properties":{"trackingId":{"type":"string","description":"Tracking ID (UUID) returned from withdrawal creation","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"}}},"WithdrawalStatusResponse":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["PROCESSING","SUCCESS","FAILED"],"description":"Current status of the withdrawal"}}},"GetWithdrawalVersionResponse":{"type":"object","required":["version"],"properties":{"version":{"type":"string","description":"Current version of the rebalancer contracts used for EIP-712 signing domain","example":"1"}}},"CreateOrUpdateConfigRequest":{"type":"object","required":["walletAddress","token","domainIds","protocolIds","poolAddresses","signature"],"properties":{"walletAddress":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"User's Ethereum wallet address (must be checksummed per EIP-55)"},"token":{"type":"string","enum":["USDC","MUSD","USDT","RLUSD"],"description":"Token symbol to configure (must be uppercase)"},"domainIds":{"type":"array","items":{"type":"integer"},"description":"Domain IDs - must match length and index values must be relevant to protocolIds and poolAddresses.\n","example":[11,11,11]},"protocolIds":{"type":"array","items":{"type":"integer","enum":[0,1,2]},"description":"Protocol IDs (0=Aave, 1=Morpho, 2=Euler) - must match length and index values must be relevant to domainIds and poolAddresses","example":[0,1,2]},"poolAddresses":{"type":"array","items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"description":"Pool contract addresses (must be checksummed per EIP-55) - must match length and index values must be relevant to domainIds and protocolIds Each pool address must be unique within this configuration. The same pool cannot be included more than once."},"signature":{"type":"string","pattern":"^0x[a-fA-F0-9]{130}$","description":"User signature for configuration"},"includeRewardsApy":{"type":"boolean","default":true,"description":"Include rewards in APY calculations"},"requiredTvl":{"type":"number","default":0,"description":"*(Recommended)* Minimum TVL (in USD) a pool must have before the rebalancer will route funds into it. It is recommended to set this to avoid routing funds into low-liquidity pools. Pass `0` only to explicitly disable this filter. Example: `5000000` = $5M minimum TVL.\n"},"requiredLiquidityMultiplier":{"type":"number","default":0,"description":"*(Recommended)* Minimum ratio of pool liquidity to the user's position size. It is recommended to set this as a safety guard against thin markets. Pass `0` only to explicitly disable this filter. Example: `10` = pool must hold at least 10× the user's position in available liquidity.\n"},"spendingCapRaw":{"type":"string","default":"0","description":"*(Optional)* Maximum amount in raw token units (unformatted integer) the rebalancer is allowed to move in a single transaction. Pass `\"0\"` for no cap. Example for USDC (6 decimals): `\"1000000000\"` = $1,000 cap.\n"},"collateralExposure":{"type":"array","nullable":true,"default":null,"items":{"type":"string"},"description":"Collateral exposure symbols for the pools in the configuration, must be taken from the pool catalog from GET /v1/pools, unique and not empty. If you want to disable the filter, pass null.\n","example":["WETH","cbBTC","wstETH"]}}},"CreateOrUpdateConfigResponse":{"type":"object","required":["walletAddress","rebalancerAddress","configuredToken","operation"],"properties":{"walletAddress":{"type":"string","description":"User's wallet address","example":"0x1234567890123456789012345678901234567890"},"rebalancerAddress":{"type":"string","description":"Deployed rebalancer contract address","example":"0x1234567890123456789012345678901234567890"},"configuredToken":{"type":"string","description":"Configured token symbol","example":"USDC"},"operation":{"type":"string","enum":["CREATED","UPDATED"],"description":"Operation performed","example":"CREATED"}}},"GetConfigResponse":{"type":"object","required":["walletAddress","rebalancerAddress","rebalancingManagerAddress","rebalancerExists","configurations"],"properties":{"walletAddress":{"type":"string","description":"User's wallet address","example":"0x1234567890123456789012345678901234567890"},"rebalancerAddress":{"type":"string","description":"Deployed rebalancer contract address","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"},"rebalancingManagerAddress":{"type":"string","description":"RebalancingManager contract address","example":"0x971ad06e6fde83b0265bd3ced5f5eaf30e269962"},"rebalancerExists":{"type":"boolean","description":"Whether a rebalancer contract has been deployed for this wallet","example":true},"configurations":{"type":"array","items":{"$ref":"#/components/schemas/Configuration"}}}},"Configuration":{"type":"object","required":["token","domainIds","protocolIds","poolAddresses","includeRewardsApy","totalGasFee","rebalanceFrequency","hasSignedConfig","totalDeposits","totalWithdrawals","requiredTvl","requiredLiquidityMultiplier"],"properties":{"token":{"type":"string","description":"Token symbol","example":"USDC"},"domainIds":{"type":"array","example":[11,11],"items":{"type":"integer"},"description":"Domain IDs for configuration - match index values of protocolIds and poolAddresses"},"protocolIds":{"type":"array","example":[0,2],"items":{"type":"integer"},"description":"Protocol IDs (0=Aave, 1=Morpho, 2=Euler) - match index values of domainIds and poolAddresses"},"poolAddresses":{"type":"array","example":["0xghijklghijklghijklghijklghijklghijklmnop","0xqrstuvqrstuvqrstuvqrstuvqrstuvqrstuvwxy"],"items":{"type":"string"},"description":"Pool contract addresses - match index values of domainIds and protocolIds"},"includeRewardsApy":{"type":"boolean","description":"Whether rewards are included in APY"},"totalGasFee":{"type":"string","example":"0.00","description":"Total gas fees accumulated"},"totalDeposits":{"type":"string","description":"Total deposits"},"totalWithdrawals":{"type":"string","description":"Total withdrawals"},"lastRebalanceTimestamp":{"type":"string","nullable":true,"example":"2025-01-01T00:00:00Z","description":"Last rebalance timestamp"},"rebalanceFrequency":{"type":"integer","example":7,"description":"Rebalance frequency in days"},"requiredTvl":{"type":"string","description":"*(Recommended)* Minimum TVL (in USD) a pool must have before the rebalancer will route funds into it. It is recommended to set this to avoid routing funds into low-liquidity pools. Pass `\"0\"` only to explicitly disable this filter. Example: `\"5000000\"` = $5M minimum TVL.\n"},"requiredLiquidityMultiplier":{"type":"string","description":"*(Recommended)* Minimum ratio of pool liquidity to the user's position size. It is recommended to set this as a safety guard against thin markets. Pass `\"0\"` only to explicitly disable this filter. Example: `\"10\"` = pool must hold at least 10× the user's position in available liquidity.\n"},"spendingCapRaw":{"type":"string","nullable":true,"description":"Spending cap in raw units"},"spendingCapFormatted":{"type":"string","nullable":true,"description":"Spending cap formatted"},"hasSignedConfig":{"type":"boolean","example":true,"description":"Indicates whether the user has signed a custom configuration for this specific token on this rebalancer.\n- true: User has signed and set custom configuration\n- false: Using default configuration values (not signed by user)\n"}}},"GetDefaultConfigResponse":{"type":"object","required":["token","rebalancingManagerAddress","domainIds","protocolIds","poolAddresses"],"properties":{"token":{"type":"string","description":"Token symbol","example":"USDT"},"rebalancingManagerAddress":{"type":"string","description":"RebalancingManager contract address","example":"0x971ad06e6fde83b0265bd3ced5f5eaf30e269962"},"domainIds":{"type":"array","items":{"type":"integer"},"description":"Default domain IDs - match index values of protocolIds and poolAddresses","example":[11,11]},"protocolIds":{"type":"array","items":{"type":"integer"},"description":"Default protocol IDs - match index values of domainIds and poolAddresses","example":[0,2]},"poolAddresses":{"type":"array","items":{"type":"string"},"description":"Default pool contract addresses - match index values of domainIds and protocolIds","example":["0xc47b8c00b0f69a36fa203ffeac0334874574a8ac","0xcbef9be95738290188b25ca9a6dd2bec417a578c"]}}},"GetPoolsResponse":{"type":"object","required":["pools"],"properties":{"pools":{"type":"array","items":{"$ref":"#/components/schemas/Pool"}}}},"Pool":{"description":"**Important: `poolAddress` is NOT globally unique across tokens.** For Aave V3, the same `poolAddress` (the Aave lending pool contract) is shared  across all tokens on a given chain. For example, Aave V3 USDC, USDT, and RLUSD  on Ethereum all have the same `poolAddress`.\nA pool is uniquely identified by the combination of THREE fields together:\n  - `poolAddress`\n  - `chain`\n  - `underlyingToken.symbol`\n\nWhen filtering pools by token (e.g. \"show only USDC pools\"), ALWAYS filter on  `underlyingToken.symbol`. Never filter on `poolAddress` alone for Aave pools.\n","type":"object","required":["protocolName","protocolVersion","protocolDescription","protocolUrl","poolAddress","poolName","chain","chainId","underlyingToken","poolTvl","poolLiquidity","poolApy","signData","blacklisted"],"properties":{"protocolName":{"type":"string","description":"Protocol name","example":"Aave"},"protocolVersion":{"type":"string","description":"Protocol version","example":"V3"},"protocolDescription":{"type":"string","description":"Protocol description"},"protocolUrl":{"type":"string","format":"uri","description":"Protocol website URL"},"poolAddress":{"type":"string","description":"Pool contract address. The pool contract address. For Aave V3 pools, this is the Aave lending pool contract address, which is the SAME for all tokens (USDC, USDT, RLUSD, MUSD) on a given chain. Do NOT use this field alone as a unique pool identifier — it must always be combined with `chain` and `underlyingToken.symbol`. For Morpho and Euler, this address IS unique per pool","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"},"poolName":{"type":"string","description":"Pool name"},"chain":{"type":"string","description":"Chain name","example":"linea"},"chainId":{"type":"integer","description":"Chain ID","example":59144},"underlyingToken":{"$ref":"#/components/schemas/Token"},"poolTvl":{"type":"string","description":"Total Value Locked for the pool"},"poolLiquidity":{"type":"string","description":"Available liquidity for the pool"},"collateralExposure":{"type":"object","additionalProperties":{"type":"string"},"nullable":true,"description":"Collateral exposure for the pool. Keys are Morpho market identifiers, values are the collateral token symbols for each market. Null for non-Morpho pools (Aave, Euler).\n","example":{"0x3b3769cfb1649e84374e7f0e0e46cbf9a1a39a62fa6a8b82e9e9edd1b3a3e3f7":"WETH","0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2":"cbBTC"}},"poolApy":{"$ref":"#/components/schemas/PoolApyInfo"},"signData":{"$ref":"#/components/schemas/PoolSignData"},"blacklisted":{"type":"boolean","description":"Indicates whether the pool has been blacklisted (banned) due to a third party critical security issue. Blacklisted pools are deprecated and retained solely for backwards compatibility. New deposits are never routed to blacklisted pools, and all existing balances are automatically rebalanced out of such pools when possible (balance is large enough to pay on-behalf fee and there is enough liquidity to withdraw)."}}},"PoolSignData":{"type":"object","required":["protocolId","poolAddress","domainId"],"properties":{"protocolId":{"type":"integer","description":"Protocol ID (0=Aave, 1=Morpho, 2=Euler)"},"poolAddress":{"type":"string","description":"Pool contract address"},"domainId":{"type":"integer","description":"Domain ID for the chain"}}},"PoolApyInfo":{"type":"object","required":["native","rewards","total","totalNet","performanceFee"],"properties":{"native":{"type":"string","description":"Native APY percentage (formatted to 2 decimals)","example":"3.45"},"rewards":{"type":"object","additionalProperties":{"type":"string"},"description":"Map of reward tokens to their APYs (formatted to 2 decimals)","example":{"Merkle":"1.23","Brevis":"0.87"}},"total":{"type":"string","description":"Total APY percentage (formatted to 2 decimals)","example":"5.55"},"totalNet":{"type":"string","description":"Total net APY percentage (formatted to 2 decimals)","example":"4.55"},"performanceFee":{"type":"string","description":"Performance fee percentage (formatted to 2 decimals)","example":"1.00"}}},"Token":{"type":"object","required":["symbol","name","address","decimals"],"properties":{"symbol":{"type":"string","description":"Token symbol","enum":["USDC","MUSD","USDT","RLUSD"],"example":"USDC"},"name":{"type":"string","description":"Token full name","example":"USD Coin"},"address":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","example":"0x1234567890123456789012345678901234567890","description":"Token contract address"},"decimals":{"type":"integer","description":"Token decimals","example":6},"version":{"type":"string","nullable":true,"description":"Token contract version"}}},"GetBalancesResponse":{"type":"object","required":["walletAddress","rebalancerAddress","perToken","summary"],"properties":{"walletAddress":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","example":"0x1234567890123456789012345678901234567890","description":"User's Ethereum wallet address"},"rebalancerAddress":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd","description":"Rebalancer contract address"},"perToken":{"type":"array","items":{"$ref":"#/components/schemas/TokenBalance"}},"summary":{"$ref":"#/components/schemas/Summary"}}},"Summary":{"type":"object","required":["totalBalanceFormatted","totalNetEarnings","queriedTokens","queriedChains"],"properties":{"totalBalanceFormatted":{"type":"string","description":"Total balance across all tokens (formatted to 2 decimals)","example":"5000.00"},"totalNetEarnings":{"type":"string","description":"Total net earnings in USD (formatted to 2 decimals)","example":"45.67"},"queriedTokens":{"type":"array","items":{"type":"string"},"description":"List of queried token symbols","example":["USDC","MUSD","USDT"]},"queriedChains":{"type":"array","items":{"type":"string"},"description":"List of queried chain names","example":["linea"]}}},"TokenBalance":{"type":"object","required":["token","totalBalanceRaw","totalBalanceFormatted","netEarning","aggregateApy","perChain"],"properties":{"token":{"type":"string","description":"Token symbol","example":"USDC"},"totalBalanceRaw":{"type":"string","description":"Total balance in raw units","example":"1000000000"},"totalBalanceFormatted":{"type":"string","description":"Human-readable balance (formatted to 2 decimals)","example":"1000.00"},"netEarning":{"type":"string","description":"Net earnings in USD (formatted to 2 decimals)","example":"12.34"},"aggregateApy":{"type":"string","description":"Weighted average APY across all protocols (formatted to 2 decimals)","example":"4.56"},"perChain":{"type":"array","items":{"$ref":"#/components/schemas/ChainBalance"}},"spendingInfo":{"$ref":"#/components/schemas/SpendingInfo","nullable":true,"description":"Card spending balance breakdown for USDC on Linea. Only present when the  user has the MetaLend card feature active in their configuration.  This balance is SEPARATE from the pool balances in `perChain` but is part  of the user's total rebalancer balance. Display alongside pool balances  when showing the user their total holdings.\n"},"bridgeBalances":{"type":"array","nullable":true,"items":{"$ref":"#/components/schemas/BridgeBalance"}}}},"ChainBalance":{"type":"object","required":["chain","chainId","totalBalanceRaw","totalBalanceFormatted","perProtocol"],"properties":{"chain":{"type":"string","description":"Chain name","example":"linea"},"chainId":{"type":"integer","description":"Chain ID","example":59144},"totalBalanceRaw":{"type":"string","description":"Total balance in raw units"},"totalBalanceFormatted":{"type":"string","description":"Total balance formatted"},"perProtocol":{"type":"array","items":{"$ref":"#/components/schemas/ProtocolBalance"}}}},"ProtocolBalance":{"type":"object","required":["protocolName","protocolIconUrl","totalBalanceRaw","totalBalanceFormatted","perPool"],"properties":{"protocolName":{"type":"string","description":"Protocol name"},"protocolIconUrl":{"type":"string","description":"Protocol icon URL"},"totalBalanceRaw":{"type":"string","description":"Total balance in protocol (raw units)"},"totalBalanceFormatted":{"type":"string","description":"Human-readable balance in protocol (formatted to 2 decimals)","example":"28.05"},"perPool":{"type":"array","items":{"$ref":"#/components/schemas/PoolBalance"}}}},"PoolBalance":{"type":"object","required":["poolAddress","poolName","balanceRaw","balanceFormatted","apy","chain","chainId","withdrawRequest"],"properties":{"poolAddress":{"type":"string","description":"Pool contract address","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"},"poolName":{"type":"string","description":"Pool name"},"balanceRaw":{"type":"string","description":"Balance in pool (raw units)"},"balanceFormatted":{"type":"string","description":"Human-readable pool balance (formatted to 2 decimals)","example":"11.23"},"apy":{"type":"string","description":"Current APY for this pool (formatted to 2 decimals)","example":"4.56"},"chain":{"type":"string","description":"Chain name"},"chainId":{"type":"integer","description":"Chain ID"},"withdrawRequest":{"$ref":"#/components/schemas/WithdrawalRequestData"}}},"SpendingInfo":{"description":"Breakdown of USDC funds reserved on Linea for MetaLend card spending. Only returned when the card feature is active in the user's config. The total rebalancer balance = regular pool balances (perChain) +  lineaUsdcBalance + lineaAaveUsdcBalance from this object.\n","type":"object","required":["lineaUsdcBalanceRaw","lineaUsdcBalanceFormatted","lineaAaveUsdcBalanceRaw","lineaAaveUsdcBalanceFormatted","lineaAaveApy"],"properties":{"lineaUsdcBalanceRaw":{"type":"string","description":"Liquid USDC held directly in the rebalancer contract on Linea (raw units,  6 decimals). This is uninvested and immediately available for card spending.\n"},"lineaUsdcBalanceFormatted":{"type":"string","description":"Human-readable liquid USDC balance on Linea (formatted to 2 decimals)."},"lineaAaveUsdcBalanceRaw":{"type":"string","description":"USDC deposited in Aave V3 on Linea (raw units, 6 decimals). This is earning  yield and also counts toward the card spending balance. Add to  lineaUsdcBalanceRaw to get the full card balance.\n"},"lineaAaveUsdcBalanceFormatted":{"type":"string","description":"Human-readable USDC balance in Aave V3 on Linea (formatted to 2 decimals).\n"},"lineaAaveApy":{"type":"string","description":"Current APY of the Aave V3 USDC pool on Linea where card funds earn yield  (formatted to 2 decimals, e.g. \"2.01\").\n"}}},"WithdrawalRequestData":{"description":"Always present when this pool has a non-zero balance. Contains the pre-filled EIP-712 domain, types, and partial value needed to sign a withdrawal. The `value.amount` and `value.deadline` are returned as null — you MUST fill them in with your chosen values before signing.\n","type":"object","required":["domain","types","value"],"properties":{"domain":{"$ref":"#/components/schemas/Domain"},"types":{"$ref":"#/components/schemas/Types"},"value":{"$ref":"#/components/schemas/Value"}}},"Domain":{"type":"object","required":["name","version","chainId","verifyingContract"],"properties":{"name":{"type":"string","example":"MetaLend Rebalancing"},"version":{"type":"string","example":"4.0.0"},"chainId":{"type":"integer","example":59144},"verifyingContract":{"type":"string","description":"Contract address"}}},"Types":{"type":"object","required":["Withdrawal"],"properties":{"Withdrawal":{"type":"array","items":{"$ref":"#/components/schemas/TypeDetail"}}}},"TypeDetail":{"type":"object","required":["name","type"],"properties":{"name":{"type":"string","description":"Field name","example":"token"},"type":{"type":"string","description":"Field type","example":"address"}}},"Value":{"type":"object","required":["token","poolContract"],"properties":{"token":{"type":"string","description":"Token address"},"poolContract":{"type":"string","description":"Pool contract address"},"amount":{"type":"string","nullable":true,"description":"The server always returns this as null. You MUST substitute your chosen withdrawal amount here before signing. Use the same value you will send in the WithdrawalRequest body. Must be ≤ PoolBalance.balanceRaw and ≥ minimum (e.g. 100000 for USDC = $0.10).\n"},"deadline":{"type":"string","nullable":true,"description":"The server always returns this as null. You MUST substitute your chosen deadline here before signing. Use the same value you will send in the WithdrawalRequest body. Must be a unix timestamp no more than 60 seconds in the future.\n","example":"1763558621"}}},"GetBridgeBalancesResponse":{"type":"object","required":["walletAddress","rebalancerAddress","token","balances"],"properties":{"walletAddress":{"type":"string","description":"Wallet address"},"rebalancerAddress":{"type":"string","description":"Rebalancer contract address"},"token":{"type":"string","description":"Token symbol"},"balances":{"type":"array","items":{"$ref":"#/components/schemas/BridgeBalance"}}}},"BridgeBalance":{"type":"object","required":["destinationPool","balanceRaw","balanceFormatted","estimatedCompletion","estimatedCompletionTimestamp","isForSpending"],"properties":{"sourcePool":{"$ref":"#/components/schemas/Pool","nullable":true},"destinationPool":{"$ref":"#/components/schemas/Pool"},"balanceRaw":{"type":"string","description":"Balance in raw units"},"balanceFormatted":{"type":"string","description":"Balance formatted"},"estimatedCompletion":{"type":"string","description":"Estimated completion timestamp or duration"},"estimatedCompletionTimestamp":{"type":"integer","format":"int64","description":"Estimated completion as Unix timestamp (seconds)"},"isForSpending":{"type":"boolean","description":"Whether the balance is reserved for spending"}}},"GetRewardsResponse":{"type":"object","required":["walletAddress","timestamp","totalClaimedUsd","totalAvailableUsd","rewards"],"properties":{"walletAddress":{"type":"string","description":"Wallet address"},"timestamp":{"type":"string","description":"ISO timestamp"},"totalClaimedUsd":{"type":"string","description":"Total claimed rewards in USD"},"totalAvailableUsd":{"type":"string","description":"Total available rewards in USD"},"rewards":{"type":"array","items":{"$ref":"#/components/schemas/RewardSource"}}}},"RewardSource":{"type":"object","required":["source","rewardItems"],"properties":{"source":{"type":"string","description":"Reward source name"},"rewardItems":{"type":"array","items":{"$ref":"#/components/schemas/RewardItem"}}}},"RewardItem":{"type":"object","required":["token","chain","claimedRaw","claimedFormatted","amount","claimedUsd","pendingRaw","pendingFormatted","availableRaw","availableFormatted","availableUsd","distributorAddress"],"properties":{"token":{"$ref":"#/components/schemas/Token"},"chain":{"$ref":"#/components/schemas/RewardChainInfo"},"claimedRaw":{"type":"string"},"claimedFormatted":{"type":"string"},"amount":{"type":"string"},"claimedUsd":{"type":"string"},"pendingRaw":{"type":"string"},"pendingFormatted":{"type":"string"},"availableRaw":{"type":"string","description":"Available (unclaimed) reward amount in raw token units.  When this is \"0\", claimTransaction will be null and no claim button  should be shown. When > \"0\", claimTransaction is non-null and ready to execute.\n"},"availableFormatted":{"type":"string"},"availableUsd":{"type":"string"},"distributorAddress":{"type":"string"},"proof":{"type":"array","nullable":true,"items":{"type":"string"}},"vestingInfo":{"$ref":"#/components/schemas/VestingInfo","nullable":true},"claimTransaction":{"$ref":"#/components/schemas/ClaimTransaction","nullable":true,"description":"Pre-built transaction to claim this reward item on-chain. Non-null when  `availableRaw` > \"0\". To claim: send a transaction with  `to = claimTransaction.to`, `data = claimTransaction.calldata`,  `chainId = claimTransaction.chainId`. No additional encoding needed.\n"}}},"RewardChainInfo":{"type":"object","required":["id","name","icon","endOfDisputePeriod","explorers"],"properties":{"id":{"type":"integer"},"name":{"type":"string"},"icon":{"type":"string"},"endOfDisputePeriod":{"type":"integer"},"explorers":{"type":"array","items":{"$ref":"#/components/schemas/ChainExplorer"}}}},"ChainExplorer":{"type":"object","required":["chainId","id","type","url"],"properties":{"chainId":{"type":"integer"},"id":{"type":"string"},"type":{"type":"string"},"url":{"type":"string"}}},"ClaimTransaction":{"type":"object","required":["to","chainId","chain","method","params","abi","calldata"],"properties":{"to":{"type":"string","description":"The rewards distributor contract address. Use as the `to` field of the transaction.\n"},"chainId":{"type":"integer","description":"The EVM chain ID to send the transaction on. Ensure the wallet is on this chain  before calling sendTransaction.\n"},"chain":{"type":"string","description":"Human-readable chain name (informational, e.g. \"ethereum\", \"linea\")."},"method":{"type":"string","description":"The contract function signature — informational only.  The value is \"claimRewards(address,address[],uint256[],bytes32[][])\". Do NOT use this to build the transaction — use `calldata` directly.\n"},"params":{"$ref":"#/components/schemas/ClaimTransactionParams","description":"The decoded parameters passed to claimRewards — informational only. Do NOT use these to re-encode the calldata — use `calldata` directly.\n"},"abi":{"type":"string","description":"The ABI fragment for the claimRewards function — informational only. Do NOT use this to re-encode the calldata — use `calldata` directly.\n"},"calldata":{"type":"string","description":"Fully ABI-encoded transaction data, ready to submit as-is. Use this as the `data` field of sendTransaction.  This includes the function selector and all encoded arguments  (distributor, token addresses, amounts, merkle proofs). Example: walletClient.sendTransaction({ to, data: calldata, chainId })\n"}}},"ClaimTransactionParams":{"type":"object","required":["distributor","tokens","amounts","proofs"],"properties":{"distributor":{"type":"string"},"tokens":{"type":"array","items":{"type":"string"}},"amounts":{"type":"array","items":{"type":"string"}},"proofs":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}},"VestingInfo":{"type":"object","required":["totalAllocatedRaw","totalAllocatedFormatted","unlockedRaw","unlockedFormatted","lockedRaw","lockedFormatted","vestingStartTime","vestingEndTime","vestingDuration","vestingGranularity","initialUnlockBps","bpsDenominator","progressPercentage","daysElapsed","daysTotal","stepsCompleted","stepsTotal"],"properties":{"totalAllocatedRaw":{"type":"string"},"totalAllocatedFormatted":{"type":"string"},"unlockedRaw":{"type":"string"},"unlockedFormatted":{"type":"string"},"lockedRaw":{"type":"string"},"lockedFormatted":{"type":"string"},"vestingStartTime":{"type":"integer"},"vestingEndTime":{"type":"integer"},"vestingDuration":{"type":"integer"},"vestingGranularity":{"type":"integer"},"initialUnlockBps":{"type":"integer"},"bpsDenominator":{"type":"integer"},"progressPercentage":{"type":"string"},"daysElapsed":{"type":"integer"},"daysTotal":{"type":"integer"},"stepsCompleted":{"type":"integer"},"stepsTotal":{"type":"integer"}}},"ApiError":{"type":"object","required":["code","internalCode","message"],"properties":{"code":{"type":"string","description":"Error category identifier"},"internalCode":{"type":"string","description":"More specific error identifier"},"message":{"type":"string","description":"Human-readable error message"},"requestId":{"type":"string","format":"uuid","description":"Unique request identifier for tracking"},"retryAfterSeconds":{"type":"integer","description":"Seconds to
[...]
